.profile__avatar-button {
    border: none;
    background: none;
    cursor: pointer;
    align-self: center;
    user-select: none;
    background-color: transparent;
    margin: auto;
    z-index: 5;
    opacity: 0;
}

.profile__avatar-button:focus {
    outline: none;
}

.profile__avatar-button:hover {
    opacity: 1;
}