.popup__container {
    max-width: 430px;
    background-color: white;
    border-radius: 10px;
    margin: 194px auto;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 540px) {
    .popup__container {
        width: 300px;
    }
}